h1 {
  display: flex;
  justify-content: center;
  color: aqua;
}

body {
  margin: 0px;
  box-sizing: border-box;
}

#containerDiv {
  width: 100vw;
  height: 100vh;
}

#holds-squares {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
  border: none;
  flex: 1;
}

.cell {
  border: 1px solid black;
  flex: 1;
}

/* #containerDiv {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
} */

#holds-squares > div {
}
