h1 {
  display: flex;
  justify-content: center;
  color: aqua;
}

#containerDiv {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  box-sizing: border-box;
}

/* #containerDiv {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
} */

#containerDiv > div {
  padding-top: 100%;
  display: block;
}
